<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://css.gg/css' rel='stylesheet'>
    <title>YouTube App</title>
</head>

<body>
    <ul class="navbar" id="navbar">
        <li>
            <a href="{{ url_for('index') }}">YouTube App</a>
        </li>
        <li>
            <div class="search-form">
                <form action="{{ url_for('api_results') }}" method="post">
                    <input type="text" name="search" placeholder="Buscar" required>
                    <!-- <button type="submit">Buscar</button> -->
                    <!-- <input type="submit" value=""><i class="gg-search"></i></input> -->
                    <button type="submit"><i class="gg-search"></i></button>
                </form>
            </div>
        </li>
    </ul>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>