{% extends 'base.html' %}

{% block content %}
<div class="container-home">
    {% for video in videos %}
    <a href="https://www.youtube.com/watch?v={{ video['id'] }}" target="_blank">
        <div class="card">
            <div class="card-img"><img src="{{ video['snippet']['thumbnails']['high']['url'] }}" alt=""></div>
            <div class="card-title">{{ video["snippet"]["title"] | safe }}</div>
            <div class="card-channel">
                <span>
                    {{ video["snippet"]["channelTitle"] }}
                </span>
                <span> • </span>
                <span>
                    {{ video["statistics"]["viewCount"] | viewsFormat }}
                </span>
                <span> • </span>
                <span>
                    {{ video["snippet"]["publishedAt"] | formatDatetime }}
                </span>
            </div>
            <div class="card-description">
                <p>{{ video["snippet"]["description"] }}</p>
            </div>
        </div>
    </a>
    <br>
    {% endfor %}
    <div class="pagination">
        {% if prevPageToken %}
        <div class="prev-button">
            <form action="{{ url_for('page', token=prevPageToken) }}" method="post">
                <input type="submit" value="Regresar">
            </form>
        </div>
        {% endif %}
        {% if nextPageToken %}
        <div class="next-button">
            <form action="{{ url_for('page', token=nextPageToken) }}" method="post">
                <input type="submit" value="Siguiente">
            </form>
        </div>
        {% endif %}
    </div>
    <div class="go-up">
        <a href="#navbar">
            <button>
                <i class="gg-arrow-up"></i>
            </button>
        </a>
    </div>
</div>
{% endblock %}